stringtabletext.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="classes.xsd"/>
	<xs:element name="stringtable" type="stringtable"/>
	<xs:complexType name="string">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="stringtable">
		<xs:sequence>
			<xs:element name="string" type="string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>